<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% comment %} <a href='best/'style ='background:blue;color:white;padding:10px;border-radius:15px;'> See more</a> {% endcomment %}
<body>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorem rem itaque iusto tempore facilis sit veritatis unde eligendi accusamus corrupti, repellat velit fugiat. Incidunt illum sit quidem natus eius?
<img src="" alt="000">
</body>
</html>